.loadingbar {
  width: 32em;
  height: 1.1em;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #e6acee, rgba(113, 187, 219, 0.68),#e6acee, rgba(54, 94, 226, 0.68));
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.36);
  background-size: 400% 400%;
  color: #fff;
  animation: gradientAnimate 4s ease infinite;
}

@keyframes gradientAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 1920px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
  .loadingbar {
    width: 20em;
    height: 0.8em;
  }
}

@media screen and (max-width: 479px) {
}
